@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*Contact page*/

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #666;
  background-size: cover 100;
}
.contact .content11{
  max-width: 800px;
  text-align: center;
}
.contact .content11 h2{
  font-size: 36px;
  font-weight: 500;
  color:#fff;
}
.contact .content11 p{
  font-weight: 300;
  color:#fff;
}
.container11{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container11 .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container11 .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container11 .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container11 .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container11 .contactInfo .box .text h3{
font-weight: 500;
color: #00bcd4;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  color:#333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top:10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea{
width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
border-bottom: 2px solid #333;
outline: none;
resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}  
.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span, 
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color:#e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width:991px){
  .contact{
    padding: 50px;
  }
  .cotainer11{
    flex-direction: column;
  }
  .container11 .contactInfo{
    margin-bottom: 40px;
  }
  .container11 .contactInfo, 
  .contactForm{
    width: 100%;
  }
}
/*contact page end*/
.circle22{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  
}
header .logo{
  position: absolute;
  max-width: 100px;
}
header ul{
  position: relative;
  display: flex;
  float: right;
}
header ul li{
  list-style: none;
}
header ul li a{
  display: inline-block;
  color:#333;
  font-weight:400;
  margin-left: 40px;
  text-decoration: none;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ababab;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox{
  position: relative;
  max-width: 600px;
}
.content .textBox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span{
  color: #017143;
  font-size: 40%;
  font-weight:500;
}
.content .textBox p{
  color: #333;
}
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.content .imgBox img{
max-width: 340px;
}
.thumb{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width: 60px;
}
.sci{
  position: absolute;
  top:50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
/*------------------------------------------------------------------- Footer -------------------------------------------------------*/
footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
}

.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left img{
  width: 10%;
}
h2{
  font-weight: 6 00;
  font-size: 17px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
}
.footer-right > *{
flex: 1 50%;
margin-right: 1.25em;
}
.box a{
  color: #999;
}
.footer-bottom{
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: #999;
}
.socials a{
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.socials a i{
  color:#e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}
@media screen and (min-width: 600){
  .footer-right > *{
    flex: 1;
  }
  .footer-left{
    flex: 1 0px;
  }
  .footer-right{
    flex: 2 0px;
  }
}

@media (max-width: 600px){
  .footer{
    padding:15px;
  }
}

/* ---------------------------------------------------------------Footer End ----------------------------------------------------*/


/* ---------------------------------------------------------------background ----------------------------------------------------*/

.circle{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("image/pexels-iconcom-733174.jpg" )center/cover no-repeat fixed;
  clip-path: circle(600px at right 800px);
  }
/*-------------------------------------------------------------- Background end --------------------------------------------------*/



@media (max-width: 991px){
  header{
    padding: 20px;
  }
  header .logo{
    max-width: 60px;
  }
  header ul{
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("image/List_menu_toggle-512.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
  }
  .toggle.active{
    position: fixed;
    right: 20px;
    background: url("image/close1.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    z-index: 11;
  }
  header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }
  header ul li a{
    font-size: 1.5em;
    margin: 5px 0;
    
  }
  section{
    padding: 20px 20px 120px;
  }
  .content{
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2{
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  .content .textBox{
    max-width: 100%;
  }
  .content .imgBox{
    max-width: 100%;
    justify-content: center;
  }
  .content .imgBox img{
    max-width: 250px;
  }
  .thumb li img{
    max-width: 40px;
  }
  .circle{
    clip-path: circle(400px at center bottom);
    }
    .sci{
      background: #017143;
      right: 0;
      width: 50px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    } 
}